.bookmark {
	@apply flex float-right h-10 w-14 items-end text-center font-bold text-3xl mr-2 self-end
}

.bookmark:hover {
	@apply h-16 
}

.bookmark:hover {
	filter: brightness(120%);
}

.bookmark {
	border-radius: 0px 0px 16px 16px;
	transition: all 200ms ease-out;
}

.bookmark a {
	@apply w-full
}
