.bookmark {
	@apply h-12 w-16 text-center font-bold text-3xl mr-2 self-end
}

.bookmark {
	border-radius: 0px 0px 16px 16px;
	transition: background-color 250ms ease-out
}

.bookmark a {
	@apply block text-ctp-surface0
}

.bookmark a {
	color: var(--primary);
	filter: brightness(50%);
}

.light {
	@apply bg-ctp-surface0
}


.pink {
	@apply bg-ctp-flamingo text-ctp-surface0
}

.blue {
	@apply bg-ctp-blue text-ctp-surface0
}

.green {
	@apply bg-ctp-green

}

.gray {
	@apply bg-ctp-subtext0

}
