.card {
	@apply flex flex-col w-full h-full p-5
}

.card {
	z-index: 1;
	background-color: var(--secondary);
}

.round {
	border-radius: 0px 16px 16px 16px;
}

.card input {
	@apply w-max self-center p-2
}
