@tailwind base;
@tailwind components;
@tailwind utilities;

.pink {
	--primary: #f0c6c6;
	--secondary: #ed8796;
	--accent:  #f5a97f;

	background-color: var(--primary);
}

.blue {
	--primary: #8aadf4;
	--secondary: #7dc4e4;
	--accent:  #b7bdf8;

	background-color: var(--primary);
}

.green {
	--primary: #a6da95;
	--secondary: #8bd5ca;
	--accent:  #eed49f;

	background-color: var(--primary);
}

.gray {
	--primary: #a5adcb;
	--secondary: #939ab7;
	--accent:  #cad3f5;

	background-color: var(--primary);
}

.dark {
	@apply bg-ctp-surface0
}

.dark {
	--primary: #363a4f;
}

html, body, main {
	@apply h-full
}

body {
	@apply grid grid-flow-row
}

html {
	transition: background-color 250ms ease-out;
	overflow-y: scroll;
}

main {
	@apply grid grid-cols-3 gap-10 p-10 row-span-3 min-h-max items-center justify-items-center
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
  	-moz-appearance: textfield;
	box-shadow: inset 0px 4px 4px 0px rgb(0 0 0 / 25%);
}

.container {
	@apply flex flex-col min-w-max 
}

.container {
	transition: all 300ms ease-out;
}

mrow {
	text-align: center;
}

.tab button {
	@apply mr-0.5 px-5 pt-1 text-2xl font-bold 
}

.tab button {
	background-color: var(--secondary);
	border-radius: 16px 16px 0px 0px;
	transition: filter 200ms ease-out;
}

.shadow {
	box-shadow: 0px 4px 4px 3px rgb(0 0 0 / 25%);
}

.shadow-mid {
	box-shadow: 0px 4px 4px 5px rgb(0 0 0 / 25%);
}

.shadow-lg {
	box-shadow: 0px 0px 4px 25px rgb(0 0 0 / 25%);
}
