@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
	@apply bg-ctp-surface0
}

.pink {
	@apply bg-ctp-flamingo
}

.blue {
	@apply bg-ctp-blue
}

html, body, main {
	@apply h-full
}

body {
	@apply grid grid-rows-8 
}

main {
	@apply grid grid-cols-3 gap-10 p-10 row-span-5 items-center justify-items-center
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
  	-moz-appearance: textfield;
	box-shadow: inset 0px 4px 4px 0px rgb(0 0 0 / 25%);
}
.container {
	@apply flex flex-col min-w-full 
}

.tab button {
	@apply mr-0.5 px-1.5 pt-1 bg-ctp-red text-3xl font-bold 
}

.tab button {
	border-radius: 16px 16px 0px 0px;
}

.shadow {
	box-shadow: 0px 10px 4px 5px rgb(0 0 0 / 25%);
}

.shadow-lg {
	box-shadow: 0px 0px 4px 25px rgb(0 0 0 / 25%);
}
